.news-post{
  width: 100%;
  max-width: 60rem;
  max-height: 20rem;
  height: 20rem;
  background-color: #fff;
  box-shadow: 0 0.1rem 1rem rgba(0,0,0,.2);
  display: flex;
  align-items: center;
  border-radius: .8rem;
  margin-top:1.2rem;
}

.news-post-img{
  min-width: 22rem;
  max-width: 22rem;
  height: 18rem;
  transform: translateX(-3rem);
  position: relative;
}

.news-post-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: .8rem;
}

.news-post-date span{
  display: inline;
  color: rgba(0,0,0,.5);
  font-size: .9rem;
  font-weight: 600;
  margin: .2rem 0;
}

.news-post-title{
  font-size: 1.4rem;
  margin: .5rem 0 .5rem;
  font-weight: 400;
}
.news-post-description{
  margin-bottom: 1.5rem;
  font-size: 1.1rem;
  color: rgba(0,0,0,.7);
}
.news-post-content{
  margin-bottom: 1.2rem;
  font-size: 1.1rem;
  color: rgba(0,0,0,.7);
  word-wrap: break-word;
}

.read-more{
  display: inline-block;
  padding: .5rem 2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1rem;
  text-decoration: none;
}

@media screen and (max-width:1068px){
  .news-post{max-width: 50rem;}
  .news-post-img{
    min-width:18rem;
    max-width: 18rem;
  }
}

@media screen and (max-width:868px){
  .news-post{max-width: 35rem;}
  .news-post{
    padding: 1rem;
    flex-direction: column;
    max-height: 33rem;
    height: 33rem;
    margin-top: 3.2rem;
    }
  .news-post-title {
    margin: -1.5rem 0 .2rem;
    }
   .news-post-img{
    min-width:100%;
    max-width: 100%;
    transform: translate(0,-3rem);
  }
}
@media screen and (max-width:768px){
  .news-post{
    padding: 1rem;
    flex-direction: column;
    max-height: 38rem;
    height: 38rem;
    margin-top: 3.2rem;
    }
  .news-post-title {
    margin: -1.5rem 0 .2rem;
    }
  
  .news-post-img{
    min-width:100%;
    max-width: 100%;
    transform: translate(0,-3rem);
  }
}

@media screen and (max-width:568px){
  .news-post{
    max-width: 20rem;
    padding: 1rem;
    flex-direction: column;
    max-height: 38rem;
    height: 38rem;
    margin-top: 2.2rem;
    }
  .news-post-title {
    margin: -1.5rem 0 .2rem;
    }
  
  .news-post-img{
    min-width:100%;
    max-width: 100%;
    transform: translate(0,-2rem);
  }
}
